<h1>Toplantı Kayıt Listesi</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Ad Soyad</td>
            <td>Katılım Durumu</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Çağrı Kandemir</td>
            <td>Evet</td>
            <td><a class="btn btn-sm btn btn-primary" href="#">Detay</a></td>
        </tr>
        <tr>
            <td>Buse Gökmen</td>
            <td>Evet</td>
            <td><a class="btn btn-sm btn btn-primary" href="#">Detay</a></td>

        </tr>
        <tr>
            <td>Hülya Kandemir</td>
            <td>Hayır</td>
            <td><a class="btn btn-sm btn btn-primary" href="#">Detay</a></td>
        </tr>
    </tbody>
</table>