<div class="pg-5 pb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display5 fw-bold">Home Page</h1>
        <p class="col-md-8 fs-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet corporis quidem facilis odit velit modi exercitationem earum ex doloremque ratione.</p>
        <button class="btn btn-primary btn-lg">Button</button>
    </div>
</div>