@model MeetingInfo;
@{
    ViewBag.Document="Home";
}
<main class="text-center">
<h1 class="h4">@ViewData["Selamlama"]</h1>
<p>Toplantıya Katılma Durumunuzu Bildiriniz.</p>
<div class="card my-2">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Model.Location</li>
        <li class="list-group-item">@Model.Time.ToString("dd/MM/yyyy HH:MM:ss") Tarihinde Gerçekleşicek.</li>
        <li class="list-group-item">@Model.User Katılımcı </li>
    </ul>
</div>
<a asp-controller="Meeting" asp-action="Apply" class="btn btn-sm btn btn-outline-primary" >Başvuru Yap</a>
</main>

